html{
   
    margin: 0px;
    padding: 0px;
    font-family: 'Oxanium', Arial;
}


body{
	background-image: url(https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-deve-picture-id537331500?k=6&m=537331500&s=612x612&w=0&h=VMx4K6hcGW0hLT-5dFRzUo4GFn1Uh6RR3k0n51lxRw0=);
	
    
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
     margin: 0;
    padding: 0;
    width: 100%; 
}
header{
    background-color: #C3CFD1; 
    margin: 0;
    padding-top: 10px;
    text-align: center;
      height: 120px; 
    opacity: 90%;
    text-align: center;
    
    
}
#hh{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
#tit{
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 10px;
    opacity: 100%;
    
}
section{
    margin:0 auto;
   text-align: center;
}
article{
width: 60%;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 21%;
}
#imm{
    width: 320px;
}

.contenedor_noticias .noticiaa{
	display: flex;
	width: 100%;
	margin: 0;
	flex-wrap: wrap;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	background-color: #C3CFD1; 
}
.noticia{
	width: 60%;
	margin: 20px;
	align-content: right;
}
.noticia h2,h3{
margin: 0px;
}
.noticiaa .imagen img{
	width: 400px;

}
footer{
    background: black;
    height: 200px;
    color: white;
    display: inline-flex;
    width: 100%;
      
    
}
.footer-con{
    background: #000;
    height: 200px;
    color: white;
    display: inline-flex;
    width: 100%;
    margin-top: 33%
      
    
}
footer div{
    margin: auto;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 30%;
    font-size: 14px;
   
}
footer div a{
   text-decoration: none;
    color: white;
}

#cont-title{
    font-size: 50px;
    margin: 0 auto;
    
        
}
form{
    border-radius: 8px;
    padding: 10px;
    vertical-align: middle;
    width: 60%;
    margin-left: 20%;
    background-color: rgba(41, 113, 138, 0.92);
    margin-top: 5%;
    
}
#section-con{
    
    text-align: center;
    margin-top:0px;
}

@media screen and (min-width: 321px) and (max-width: 768px) { 
    
}
nav{
    margin-top: 20px;
    width: 100%;
    height: 100%;
   
}


nav a{
      text-decoration:none;
      font-size:14px;
    color: black;
      }
            
nav li{
      display:block;
      float: right;
      width:170px;
      height:20px;
      padding:5px 10px;
      background-color:darkgray;
      text-align:center;
      color:black;
      position:relative;
      margin left: 0px;
}
            
nav li:hover{
      background-color:#fff;
      color:black;
      }
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:10px;
      left:-50px;
}
#cont-title{
    background-color: black;
    color: white;
    margin-bottom: 20px;
}
input{
    text-align: center;
    border-radius: 8px;
}
.footer-con{
    margin-top: 7%;
}
textarea{
    height: 16px;
    width: 200px;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: -5px;
}
fieldset{
    margin: 15px;
    border-color: black;
}
